@charset "utf-8";
/* CSS Document */

/* Creado por: Julián Echeverry Montoya - Diseñador Visual para Dimension IT S.A.S. (Abril 5 de 2016)  */
	
/* Seccion Cabecera */	

body {
	background-image: url(../images/Fw.png);
	background-size: cover;
	width: 100%
	height: 100%;
}

.cuerpo{
	padding-left: 8rem;
	padding-right: 8rem;
	padding-top: 1rem;
}

.busquedaCertificados{
	width: 60rem;
	margin-right: auto;
	margin-left: auto;
}

#texto{
	width: 40rem;
	margin-left: auto;
	margin-right: auto;
}

#lbltexto{
	text-align: justify;
	font-family: "Roboto-Light";
	font-size: 13px;
}

.icono{
	z-index:6;
	padding-left: 0.5rem;
	background-color: white;
	width: 2.3rem;
	border-top-left-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
}

.radBusqueda{
	margin-top: 1rem;
	vertical-align: text-bottom;
}

.lblBusqueda{
	font-family: "Roboto-Light";
	font-size: 13px;
}

#identificacion{
	margin-left: 3rem;
}
/* Seccion Pie Página */	

.imgRedesSociales {
	position:fixed;
	z-index:6;
	bottom:-5px;
	left: 1rem;	
}

.contenedorDit {
	width: 31%;
	height: 5rem;
	float: right;
	text-align: center;
}
.imgPowered {
	position:fixed;
	z-index:6;
	bottom:4px;
	right: 3.2rem;
	width: 17rem;	
}

.azul{
	display: inline-block;
	width:9rem;
	font-family: "Roboto-Light";
	padding-bottom: 0.3rem;
	padding-top: 0.3rem;
	font-size: 14px;
	border-radius: 3px 0px 0px 3px;
}

.campo{
	vertical-align: middle;
	width: 5rem;
	font-family: "Roboto-Light";
	padding-bottom: 0.2rem;
	padding-top: 0.2rem;
	padding-left: 0.6rem;
	font-size: 12px;
	border-radius: 0px 5px 5px 0px;
}

#numeroRegistro,#numeroDocumento{
	text-align: center;
	margin-top: 1rem;
}

#lblNDocumento{
	margin-left: 2rem;
}

#cmbTipoDocumento{
	height: 27px;
}

/* Seccion Botones */
#btnConsultar1,#btnConsultar2 {
	margin-left: 2rem;
}

/*.BotonEntrar:hover {
	text-decoration:none;
    background-color:#ffffff;
	font-family: "Roboto-Bold";
    color: #003265;
	border-top:1px solid #ffffff;
	border-right:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-left:1px solid #ffffff;
	cursor:pointer;
}

#recuperarContrasena {
	font-family: "Roboto-Light";
	font-size: 12px;
	color: #003265;
	margin-right: 5rem;
}*/